<main class="container mt-5">
    <h1>Shopping Cart</h1>
    <ol class="breadcrumb" style="background-color: #E1E5EA; padding: 10px; border-radius: 5px;">
        <li class="breadcrumb-item">
            <LinkTo @route="index">
                Home
            </LinkTo>
            </li>
         <li class="breadcrumb-item">Shopping Cart</li>
    </ol>
    <section class="w-50 ml-auto text-right mb-5" style="float: right">
        <div class="row">
            <span class="col">Subtotal</span>
              <span class="col">{{this.subtotal}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{this.tax}}</span>
        </div>


        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{this.total}}</span>
        </div>

         <button class="btn btn-success float-right" style="float:left; margin-top: 10px;" type="button">Order</button>
    </section>
   
</main>