
<GeneralContainer>
    <div class="product item-details-page">
 <Product::Image @src={{this.productImage}}/>
<Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
    </div>
    <h5 class="mt-5">Features</h5>
    <ul>
        <li>Designed for listening freedom</li>
        <li>Up to 40 hours of listening time</li>
        <li>Power up with Fast Fuel</li>
        <li>Take calls and take control</li>
        <li>Universal USB charging cable (USB-A to USB Micro-B)</li>
        <li>LED fuel gauge shows full or depleted charge level when plugged in, and full, low, or depleted charge level when not plugged in.</li>
        <li>Wirelessly share audio such as songs, podcasts, or movies with Beats Solo3 Wireless and another set of Beats headphones or AirPods with Audio Sharing1</li>
    </ul>

</GeneralContainer>